mixin form()
    .form
      .form__row
        input(type="text", placeholder="Твое имя", required)
      .form__row
        input(type="email", placeholder="Электронная почта для связи", required)
      .form__row
        input(type="text", placeholder="Ссылка на твой профиль в соц. сетях")
