mixin order-form()
  .order-form
    .order-form__title
      | Алоха! Я Ai Mori,
      br
      | be Happy, don't worry
    .order-form__text На этой странице вы можете заказать песню от меня!
    .order-form__text Я делаю песни в любых форматах - поздравление родных и близких, романтическое признание для любимых, шутки и сатира для друзей
    .order-form__text Примеры моих работ вы можете увидеть ниже.
      
    +songs-slider().order-form__slider
    +form().order-form__form
        

mixin form()
    .form
      .form__row
        input()

mixin songs-slider()
    .songs-slider